html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 1200px) {
  .app {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .app {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .app {
    height: 100%;
  }
}
