.editTask {
  -webkit-box-shadow: 9px 9px 20px -6px rgba(0, 0, 0, 0.7);
  box-shadow: 9px 9px 20px -6px rgba(0, 0, 0, 0.7);
  background-color: white;
  border-radius: 5px;
  height: 200px;
  width: 50%;
}

.edit-title {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.gobackBtn {
  margin-right: 8px;
}

.gobackBtn a {
  color: white;
}
