.header {
  height: 65px;
  display: flex;
  width: 32.1%;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .header {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header {
    margin: 0;
  }
}
