.listCard {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  transition: transform 0.2s ease;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 5px;
}

.listCard:active {
  transform: scale(0.9);
}

.nameContainer {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listName {
  margin-left: 10px;
  word-wrap: break-word;
}

.deleteBtn,
.editBtn {
  font-size: 14px;
  transition: transform 0.2s ease;
}

.deleteBtn i,
.editBtn i {
  margin-bottom: 3px;
}

.icons {
  display: flex;
  flex-wrap: inherit;
  margin-right: 12px;
}

.deleteBtn:hover {
  border: none;
  color: white;
  background-color: red;
}

.editBtn:hover {
  border: none;
  color: white;
  background-color: #3e8ed0;
}

.deleteBtn:active,
.editBtn:active {
  transform: scale(0.9);
  border: none;
}

.listLink {
  color: black;
}

.selected {
  border: 1px solid lime;
}
