.navigation {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  border-radius: 5px;
  margin: 15px;
  height: 100%;
}

.linkBtn {
  margin: auto 5px;
  border: none;
  transition: transform 0.2s ease;
  color: black;
}

.linkBtn:hover {
  background-color: whitesmoke;
}

.linkBtn:active {
  transform: scale(0.9);
}

.link {
  text-decoration: none;
  color: black;
}
