.userContainer {
  background-color: whitesmoke;
  border-radius: 5px;
  height: 65px;
  width: 100%;
  margin: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfo {
  height: 100%;
  font-size: 11px;
}

.logoutBtn {
  border: none;
  background-color: whitesmoke;
}

.logoutBtn:hover {
  color: white;
  background-color: #f14668;
}

@media (max-width: 768px) {
  .userContainer {
    margin: 0;
  }
}
